
body {
	background-color: #D8CDBC;
	overflow-y: hidden;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 100vh;

	color: black;

	font-family: "Lucida Console", Monaco, monospace;

	list-style-type: none;
}

#continents {
	flex-grow: 1;
	height: 100vh;
	margin-right:5%;
	margin-left:2%;
}

#continents li {
	/* Since I know I'll only have 7 items in this list */
	height: 14vh;

	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#countries {
	flex-grow: 2;
	margin: 2%;
	height: 100vh;
	overflow: hidden;
	overflow-y: scroll;
}

#countries li {
	display: flex;
	flex-direction: row;
    align-items: center;
	justify-content: space-between;
	margin-right: 3%;
	height: 8%;
	min-height: 8%;
}

hr {
	display: block;
    content: "";
    height: 100%;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 8px 0;
    border-radius: 20px;
}