html, body {
    height: 100vh;
    width: 800px;
	overflow-y: hidden;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100vh;
	color: black;
	font-family: "Lucida Console", Monaco, monospace;
	list-style-type: none;
}

#function_btns {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 4%
}

#continents {
	flex-grow: 1;
	flex-basis: 33%;
	height: 95vh;
	margin-right:2%;
}

#continents .item {
	height: 12%;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#countries {
	flex-grow: 1;
	flex-basis: 75%;
	margin-top: 4%;
	margin-bottom: 4%;
	margin-right: 4%;
	height: 88vh;
	overflow: hidden;
	overflow-y: scroll;
}

#countries .item {
	flex-direction: row;
	justify-content: space-between;
	height: 15%;
	min-height: 8%;
}

#full_screen_btn {
	background:transparent;
	border:none;
	outline:none;
	position: absolute;
	width: 80px;
	height: 80px;
}

.list::-webkit-scrollbar {
  display: none;
}
